.logo {
  font: 30px/1 'Ubuntu', sans-serif;
  letter-spacing: 3px;
  padding: 0 0 0 3rem;
  position: fixed;
  top: 30px;
  text-decoration: none;
}

.logo a {
  line-height: 20%;
  text-decoration: none;
  color: DarkKhaki;
}
@media screen and (max-width: 750px) {
  .logo{
    position: static;
    text-align: center;
    padding: 20px 0;
  }
}
/*hamburger*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.checkbox,
.hamburger {
  position:fixed;
  top: 30px; left: 30px;
  width: 45px;
  height: 45px;
  display: none;
}
.checkbox {
  opacity: 0;/*隐藏模块*/
  cursor: pointer;
  z-index:22;
}
.hamburger {
  padding: 10px;
  z-index: 11;
}
.hamburger .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
}
.hamburger .wrapper .lines {
  background: black;
  position: relative;
  width: 100%;
  height: 1px;
}
.hamburger .wrapper .lines::before {
  background: black;
  content: '';
  position:absolute;
  top: -7px;
  width: 100%;
  height: 1px;
}
.hamburger .wrapper .lines::after {
  background: black;
  content: '';
  position:absolute;
  top: 7px;
  width: 100%;
  height: 1px;
}
.hamburger .wrapper .lines::before { top: -7px; }
.hamburger .wrapper .lines::after { top: 7px; }

.checkbox:checked + .hamburger .wrapper {
  transform: rotate(135deg);
}
.checkbox:checked + .hamburger .wrapper .lines::before{
  top:0;
  transform: rotate(90deg);
}
.checkbox:checked + .hamburger .wrapper .lines::after {
  opacity: 0;
}
.menu {
  height: 80px;
  position: fixed;
  left: 0;
  top: 200px;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
}
.menu a{
  padding: 0 50px;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: SteelBlue;
}
.menu a:hover{
  color: black;
  text-decoration:underline;
}
@media screen and (max-width: 750px) {
  .checkbox,
  .hamburger {
    display: block;
  }
  /*Menu*/
  .menu {
    background: lightgray;
    position: fixed;
    z-index: 10;
    top: 0; bottom: 0;
    left: -250px;
    width: 250px;
    transition: 0.75s ease;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }
  .menu a {
    color: transparent;
    text-decoration: none;
    width: 210px;
    margin: 10px 0;
    transition: 0.75s ease;
    font-family: 'Roboto Mono', monospace;
    height: auto;
    padding: 10px 0;
  }
  .menu a:first-child {
    margin-top: 110px;
  }
  .checkbox:checked ~ .menu {
    left:0;
    transition: 0.75s ease;
    background: rgb(178, 186, 187, 70%);
    font-family: 'Montserrat', sans-serif;
  }
  .checkbox:checked ~ .menu a {
    color: black;
  }
}
